div.brands {
    height: 32px;
    width: 50px;
}

div.brands.visa {
    background-image: url(../../../assets/images/brands/visa-48px.png);
}
div.brands.mastercard {
    background-image: url(../../../assets/images/brands/mastercard-48px.png);
}
div.brands.hipercard {
    background-image: url(../../../assets/images/brands/hipercard-48px.png);
}
div.brands.amex {
    background-image: url(../../../assets/images/brands/amex-48px.png);
}
div.brands.diners {
    background-image: url(../../../assets/images/brands/diners-48px.png);
}
